<div class="modal">
	<div class="modal-container">
		<a href="" id="close">Cerrar</a>
		<h2>Etiqueta a tu amigo mas inpuntual y hazlo conocer nuestra aplicación.</h2>
		<input type="text" placeholder="Nombre de tu amigo">
		<input type="submit" value="Nominar">
	</div>
</div>
<section class="intro">
	<div class="container">
		<div class="intro-info" class="animated infinite bounce">
			<%= image_tag("logo.png") %>
			<h2 class="tagline">Todos tenemos un amigo que nos deja esperando.</h2>
			<h3 class="call-to">¿Quién es tu amigo mas inpuntual?</h3>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		</div>
	</div>
</section>
<section class="intro-app">
	<div class="container">
		<div class="col-2">
			<h2>Recompensamos la puntualidad.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nisi voluptatibus animi, suscipit eum sit maiores fuga laboriosam delectus cum quasi corrupti architecto, deserunt atque repellat laudantium expedita inventore? Numquam!</p>
		</div>
		<div class="col-2">
			<%= image_tag("iphone.png") %>
		</div>
	</div>
</section>
<footer class="footer">
	<div class="container">
		<span>Copyright ©</span>
	</div>
</footer>