<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Friends:</p>
<ul>
<% @graph.get_connections("me", "friends").each do |friend| %>
  <li><%= friend["name"] %></li>
<% end %>
</ul>
